.App{
    font-size: sans-serif;
}

.movie-poster{
width:350px;
height:500px;
object-fit: cover;
}
.movie-container{
    background: orange;
    width:350px;
}

.movie-specs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-rating{
    font-size:20px;
}
.movie-list{
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}
 
.Hellooo{
    font-family: "pacifico", cursive;
}

.user-profile-pic{
     height: 500px;
    width: 1000px; 
     /* object-fit: cover; */
     /* border-radius: 50%;   */

} 
